* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* new year section styles */
.new-year {
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.05)),url("../images/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.new-year h4,
h2 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
}

.new-year h2 {
  font-size: 72px;
  font-weight: 900;
}
.new-year-title {
  width: 632px;
  height: 246px;
  text-align: center;
}
